{% extends "base.html" %}

<!-- block -->

{% load static %}

{% block body %}

 <!-- ctagiris heading -->
 <div class="pro container" style="margin-top: 150px; color:green;">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center fw-bold">ABOUT US </h1>
        </div>
    </div>

</div>




 <div class="container mt-5">

    <div class="row mt-5">

        <div class="col-lg-4 ">
            <iframe src="https://www.youtube.com/embed/SDZ89FLzmVw"  title="A YouTube video" frameborder="0" allowfullscreen  ></iframe>
    </div>
    <div class="col-lg-8 ">
        <p class="text-start mt-5">KC GREEN India Enterprises is proud to be India's leading single brand manufacturer and supplier of hygienic products. With a commitment to excellence, we strive to deliver superior quality products that promote cleanliness, hygiene, and overall well-being.</p>
        
    </div>
        <div class="col-md-12 ">
           
            
    
            <br>
            
        <br>
            <p>At KC GREEN India Enterprises, we understand the importance of maintaining a clean and healthy environment, whether it be in homes, offices, or public spaces. We believe that good hygiene practices are essential for a happy and healthy life. Therefore, our mission is to provide innovative and reliable hygienic products that meet the diverse needs of our customers.</p>    
        <br>
        <p>We take pride in our state-of-the-art manufacturing facilities, equipped with advanced technology and operated by a skilled team of professionals. This enables us to maintain the highest standards of quality control throughout the production process. From sourcing the finest raw materials to implementing stringent quality checks, we ensure that every product leaving our factory is of the utmost quality.</p>
<br>

<p>Our product range includes a wide variety of hygienic products designed to cater to different aspects of personal and environmental hygiene. Whether it's toilet tissues, paper towels, hand sanitizers, facial tissues, or other essential hygiene products, we offer a comprehensive selection that guarantees cleanliness and convenience.</p>

<br>

<p>As a socially responsible company, we are committed to sustainable practices and environmental stewardship. We strive to minimize our ecological footprint by using eco-friendly materials and implementing energy-efficient manufacturing processes. By choosing KC GREEN India Enterprises, you can be confident that you are making a positive impact on the environment.</p>


<p>We value our customers and prioritize their satisfaction above all else. Our dedicated customer service team is always ready to assist and address any queries or concerns promptly. We believe in building long-term relationships with our clients and continuously strive to exceed their expectations through exceptional product quality and service.</p>

<br>


<p>KC GREEN India Enterprises is dedicated to making a difference in promoting hygiene and cleanliness across India. Join us in our mission to create a healthier and safer environment for all. Choose KC GREEN India Enterprises for superior quality hygienic products that you can trust.</p>

<br>
    </div>
    </div>
 </div>






   









 {% endblock body %}