{% extends "base.html" %}
    
    {% load static %}

     {% block body %}
      


     <div class="pro container" style="margin-top: 150px; color:green;">
      <div class="row">
          <div class="col-12">
              <h2 class="text-left fw-bold">Events</h2>
          </div>
      </div>
  
  </div>

  <div class="card-group container mt-5">
    
    <div class="row">
      {% for events  in events %}
        <div class="col-md-3 g-2 ">
            
            <div class="card ">
              <a href="{{events.slug}}"><img src="{{events.image_1.url}}" alt="{{events.title}}" alt="Responsive image" /></a>
                
              <div class="card-body ">
                <h6 class="card-title text-start fw-bold"><a href="{{events.slug}}" style="text-decoration: none; color: rgb(0, 0, 0);text-transform: capitalize;">{{ events.title }}</a></h6>
                
               
                <span class="text-center" style="color: rgb(0, 0, 0);">&nbsp;&nbsp; {{events.created_at}}</span>
                
                <h6 class="fw-bold mt-2 text-uppercase text-center"><a href="{{events.slug | safe}}" style="color: rgb(0, 0, 0); font-size: 20px;">View</a></h6> 
                
              </div>
             
            </div>
            
        </div>
        
        {% endfor %}
    </div>
    
  </div>

    
      {% endblock body %}